<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test_suite">
    <test name="normal">
        <groups>
            <run>
                <include name="normal" />
                <include name="throw" />
            </run>
        </groups>
        <classes>
            <class name="com.bisoft.models.FolderContentTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="normal2">
        <classes>
            <class name="com.bisoft.models.ObjectStructureTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->